#actualite {

    .actu-container {
        margin: 0 auto;
        max-width: 1000px;

        img {
            margin: 2rem 0 0 0;
            height: 63%; 
            width: 90%;
            border: 5px solid $orange;
            border-radius: 20px;
            object-fit: cover;
            object-position: center;
        }
        
        .actu-info-container {
            max-width: 90%;
            margin: 2rem auto;
            text-align: left;

            h3 {
                font-size: 1.8rem;
                font-weight: 500;
                margin: 2rem 0;
                text-transform: uppercase;
            }

            p {
                margin: 1rem 0;
                text-align: justify;
            }

            .integral-day {
                color: $orange;
                font-style: italic;
                font-size: 1.5rem;
                font-weight: 300;
            }
        }
    }

    @media #{$small} {
    // Styles pour les petits appareils (min-width: 576px)
        .actu-container {

            img {
                height: 56%; 
                width: 80%;
            }
            .actu-info-container {
                max-width: 80%;
            }
        }
    }
    
    @media #{$medium} {
    // Styles pour les appareils moyens (min-width: 768px)
        .actu-container {

            img {
                height: 450px; 
                width: 75%;
            }
            .actu-info-container {
                max-width: 75%;

                h3 {
                    font-size: 2rem;
                }

                .integral-day {
                    font-size: 1.6rem;
                    margin-bottom: 2rem;
                }
            }
        }
    }
    
    @media #{$medium-large} {
    // Styles pour les appareils intermédiaires (min-width: 850px)
    }
    
    @media #{$large} {
    // Styles pour les grands appareils (min-width: 992px)
    }
    
    @media #{$larger} {
    // Styles pour les appareils larges (min-width: 1100px)
    }
    
    @media #{$extra} {
    // Styles pour les très grands appareils (min-width: 1200px)
    }
    
    @media #{$extra-large} {
    // Styles pour les super grands écrans (min-width: 1400px)
    }
    
    @media #{$ultra} {
    // Styles pour les ultra grands écrans (min-width: 1600px)
    }
}