#adherer-don {
    h3 {
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        margin: 2rem;
        color: $blue;
    }

    p {
        color: $blue;
        text-align: left;
        margin: 2rem;
    }
    
    .adhesion-container,
    .don-container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto 3rem auto;
        padding: 2rem;
        background-color: $beige;
        border: 5px solid $orange;
        border-radius: 20px;

        iframe {
            height: fit-content;
            width: 100%;
            border: 3px solid $orange;
            border-radius: 12px;
        }
    }

}