#espace-admin {
    section {
        ul {
            li {
                width: 300px;
                margin: 3rem auto;
                a {
                    color: $blue;
                    @include button-styles('orange');
                }   
            }
        }
    }
}

#admin-actus,
#admin-events,
#admin-messages,
#admin-types-styles,
#admin-users {

    .back-link {
        font-size: 1.8rem;
        text-transform: uppercase;
        align-items: center;
        margin: 3rem auto;

        &:hover {
            color: $beige;
            text-decoration: underline;
        }

        i {
            margin-right: 0.8rem;
        }
    }

    fieldset {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    
        form,
        select {
            width: 85%;
            margin: 0 0 3rem 0;
        }
    
        .search-bar {
          display: flex;
          align-items: center;
    
          input[type="search"] {
            border-radius: 14px 0 0 14px;
            margin: 0;
          }
      
          button {
            margin: 0;
            padding: 12.5px;
            background-color: $orange;
            border: none;
            color: $beige;
            border-radius: 0 14px 14px 0;
            cursor: pointer;
    
            i {
              font-size: 1.9rem;
            }
    
            &:hover {
              color: $blue;
            }
          }
        }
    }

    .table-container {
        width: 90%;
        max-width: 1800px;
        margin : 2rem auto;

        a {
            color: $puce;
            font-weight: bold;

            &:hover {
                color: $black;
                text-decoration: underline;
            }
        }
    }

    @media #{$small} {
        // Styles pour les petits appareils (min-width: 576px)
        fieldset {
    
            form,
            select {
                width: 80%;
            }
    
            .search-bar button {
            padding: 13px;
            
                i {
                    font-size: 2rem;
                }
            }
        }
    }
      
    @media #{$medium} {
    // Styles pour les appareils moyens (min-width: 768px)
        fieldset .search-bar button i {
            font-size: 2.1rem;
        }
    }
    
    @media #{$medium-large} {
    // Styles pour les appareils intermédiaires (min-width: 850px)
        fieldset {
            justify-content: center;
            gap: 10%;

            form,
            select {
                width: 30%;
                max-width: 500px;
            }
        }
    }
}

#admin-actus,
#admin-events,
#admin-messages {

    .alert {
        background-color: $red;
        color: $beige;
        padding: 15px;
        margin-bottom: 15px;
        position: relative;

        i {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }   
    
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);

        .modal-content {
            background-color: $blue;
            margin: 2% auto;
            padding: 30px;
            width: 90%;
            max-width: 800px;
            max-height: 80vh;
            overflow-y: auto;
            position: relative;
            top: 150px;
            border-radius: 20px;

            .close {
                position: absolute;
                right: 20px;
                top: 10px;
                font-size: 28px;
                font-weight: bold;
                cursor: pointer;
        
                &:hover {
                    color: $orange;
                }
            }
        }
    }
}

#admin-actus,
#admin-events {
    .create-event-form,
    .create-actuality-form {

        form {
            width: 90%;
            margin: 1.5rem auto;

            h3 {
                font-size: 2.4rem;
                font-weight: bold;
                margin-bottom: 3rem;
            }

            input,
            textarea {
                margin-bottom: 2rem;
            }

            label {
                font-size: 1.8rem;
            }

            .admin-form-flex {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                
                div {
                    width: 48%;
                }
            }

            .file-name-display {
                color: $orange;
                margin-bottom: 1.5rem;
            }
            
            button {
                @include button-styles('orange');
            }
        }
    }

    .action-buttons {
        margin-bottom: 1rem;
        text-transform: uppercase;

        .add-button {
            display: inline-flex;
            align-items: center;
            font-size: 1.8rem;
            margin: 2rem 0;
            padding: 1.2rem 1.4rem;
            background-color: $orange;
            color: $beige;
            text-decoration: none;
            border: 3px solid $beige;
            border-radius: 10px;

            &:hover {
                background-color: $focus;
            }

            i {
                margin-right: 0.5rem;
            }
        }
    }

}

#admin-messages {
    .unread {
        font-weight: bolder;
        background-color: rgba(181, 20, 20, 0.35);
    }

    .modal-content {
        color: $beige;
        text-align: left;

        .message-container {
            margin-top: 2rem;
            background-color: $beige;
            padding: 2.5rem;
            color: $blue;
            border-radius: 15px;

            p {
                font-size: 1.8rem;
                font-weight: 500;
                margin-bottom: 1.2rem;
            }

            .modal-title {
                color: $orange;
                font-size: 2.2rem;
            }
        }
    }
}

#admin-types-styles {
    input {
        width: 90%;
        max-width: 500px;
    }

    #add-type-btn,
    #add-style-btn {
        display: block;
        margin: 1.5rem auto;
        font-size: 1.8rem;
        padding: 1rem 1.2rem;
        background-color: #4CAF50;
        color: $beige;
        text-decoration: none;
        border: none;
        border-radius: 10px;

        &:hover {
            background-color: #45a049;
        }
    }

    ul {
        width: 90%;
        max-width: 900px;
        margin: 3rem auto;


        li {
            position: relative;
            left: calc(50% - 190px);
            color: $blue;
            text-align: left;
            font-size: 2rem;
            background-color: $orange;
            width: 220px;
            padding: 1rem 1rem 1rem 2rem;
            margin: 1.5rem;
            border-radius: 10px;
        }

        button {
            position: absolute;
            left: 240px;
            bottom: 0;
            font-size: 2rem;
            padding: 1rem 1.2rem;
            background-color: #e86b60;
            color: $beige;
            text-decoration: none;
            border: none;
            border-radius: 10px;

            &:hover {
                background-color: $red;
            }
        }
    }
}
