footer {
  background-color: $beige;
    
  p,
  li,
  a {
    color: $blue;
  }
    
    .footer-top,
    .footer-bottom {
      display: flex;
      justify-content: center;
      i {
        font-size: calc(0.7rem + 1.3vw);
        margin-right: 10px;
      }
    }

    .footer-top {
      padding: calc(2rem + 2.5vw) 1rem;
      > a > img {
        margin-right: calc(0.6rem + 2vw);
        width: calc(8.5rem + 6.5vw);
      }

      p {
        margin: 0;
        text-align: left;
        font-size: calc(0.8rem + 1.3vw);
      }

      .footer-tel-container,
      .footer-mail-container {
        display: flex;
      }

      .footer-tel-container {
        padding-top: 1rem;
      }
    }

    .footer-separation {
      height: 2px;
      width: 90%;
      margin: 0 auto calc(1rem + 2.5vw) auto;
      background-color: $black;
    }

    .footer-bottom {
      text-align: left;

      .footer-nav,
      .footer-rs-legal {
        font-size: calc(0.8rem + 1.5vw);
        margin: 0 calc(0.5rem + 4vw);
        i {
          color: $blue;
          font-size: calc(2rem + 3vw);
          margin: 0 calc(0.5rem + 5vw) calc(0.5rem + 3vw) 0;
        }
      }

      i,
      li {
        padding: calc(0.2rem + 1.5vw) 0;
      }

      li > a:hover {
        color: $orange;
        text-decoration: underline;
      }
    }

    .footer-copyright {
      font-size: calc(0.8rem + 1.3vw);
      margin-top: calc(3rem + 2.5vw);
      padding-bottom: 3rem;
    }

  @media #{$mobile} {
      // Styles pour les appareils mobiles (max-width: 575px)
  }
  
  @media #{$small} {
      // Styles pour les petits appareils (min-width: 576px)
    .footer-top,
    .footer-bottom {
      i {
        font-size: 1.6rem;
      }
    }

    .footer-top {
      margin: auto;
      > a > img {
        margin-right: 5vw;
        width: 12.5rem;
      }

      p {
        font-size: 1.6rem;
      }
    }

    .footer-separation {
      height: 2px;
      width: 85%;
      margin: 0 auto calc(1rem + 2.5vw) auto;
    }
    .footer-bottom {
      text-align: left;

      .footer-nav,
      .footer-rs-legal {
        font-size: 1.7rem;
        margin: 0 10vw;
        i {
          font-size: 3.7rem;
          margin: 0 2.8rem 2.8rem 0;
        }
      }

      i,
      li {
        padding: calc(0.2rem + 1.5vw) 0;
      }
    }

    .footer-copyright {
      font-size: 1.8rem;
      margin-top: 5rem;
    }

  }
  
  @media #{$medium} {
      // Styles pour les appareils moyens (min-width: 768px)
  }
  
  @media #{$medium-large} {
      // Styles pour les appareils intermédiaires (min-width: 850px)
  }
  
  @media #{$large} {
      // Styles pour les grands appareils (min-width: 992px)
    .footer-separation {
      width: 70%;
    }
  }
  
  @media #{$larger} {
      // Styles pour les appareils larges (min-width: 1100px)
    .footer-flex-container {
      display: flex;
      justify-content: space-between;
      width: 90%;

      .footer-top,
      .footer-bottom {
        justify-content: space-between;
        margin: 2rem 0;
      }
      .footer-top {
        width: 30%;
        margin-top: 5rem;
        padding: 0;
        > a > img {
          margin-right: 3rem;
          width: 12.5rem;
        }
  
        p {
          font-size: 1.6rem;
        }

        .footer-tel-container,
        .footer-mail-container {
          i {
            padding: 0;
          }
        }
      }
  
      .footer-separation {
        display: none;
      }

      .footer-bottom {
        width: 55%;

        .footer-nav,
        .footer-rs-legal {
          font-size: 1.6rem;
          margin: 0 4rem;
          i {
            font-size: 3.7rem;
            margin: 0 2.8rem 2.8rem 0;
          }
        }

        i,
        li {
          padding: 0.5rem 0;
        }
      }
    }
  }

  
  @media #{$extra} {
      // Styles pour les très grands appareils (min-width: 1200px)
  }
  
  @media #{$extra-large} {
      // Styles pour les super grands écrans (min-width: 1400px)
  }
  
  @media #{$ultra} {
      // Styles pour les ultra grands écrans (min-width: 1600px)
  }
  
  
  
}