#overlay-mobile {
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background:rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;

    &.overlay-visible {
      visibility: visible;
      opacity: 1;
    }
    
    &.overlay-hidden {
      visibility: hidden;
      opacity: 0;
    }
}

#customization-modal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
    .modal-content {
        background-color: $beige;
        margin: 10% auto;
        padding: 20px;
        border: 5px solid $orange;
        border-radius: 20px;
        width: 300px;
        text-align: left;

        .close {
            color: $black;
            float: right;
            font-size: 2.5rem;
            font-weight: bold;
            cursor: pointer;
        }

        h3 {
            text-align: left;
            margin-bottom: 20px;
            font-size: 2.2rem;
            font-weight: bold;
            text-transform: uppercase;
        }

        .toggle-option {
            background-color: $orange;
            border: 3px solid $blue;
            border-radius: 10px;
            padding: 15px;
            margin-bottom: 15px;

            > label {
                color: $blue;
                font-size: 2rem;
                font-weight: bold;
            }

            .toggle-container {
                display: flex;
                align-items: center;
            
                .toggle {
                    position: relative;
                    display: inline-block;
                    margin: 10px;
                    width: 60px;
                    height: 34px;
            
                    input {
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }
            
                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: $blue;
                        transition: .4s;
                        border-radius: 34px;
            
                        &:before {
                            position: absolute;
                            content: "";
                            height: 26px;
                            width: 26px;
                            left: 4px;
                            bottom: 4px;
                            background-color: $beige;
                            transition: .4s;
                            border-radius: 50%;
                        }
                    }
            
                    input:checked + .slider {
                        background-color: #51CB5F;
            
                        &:before {
                            transform: translateX(26px);
                        }
                    }
                }
                #toggle-dyslexia-label,
                #toggle-line-spacing-label {
                    color: $blue;
                    font-size: 1.8rem;
                    font-weight: bold;
                    margin-left: 15px;
                }
            }
        }
    }
}    

.header-accessibility {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $beige;
    height: 9rem;
    box-shadow: inset 0px -4px 0px $orange;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 1.2rem;
    box-sizing: border-box;
    z-index: 9999;
  
    > div:first-of-type a img {
        max-height: calc(3em + 1.6vw);
    }

    > div:nth-of-type(2) {
        > div h1 span {
            font-size: calc(1rem + 1.2vw);
        }

        > div nav {
            z-index: 1000;
            padding: 0px;
            background-color: $beige;
            position: fixed;
            top: 90px;
            right: 0;
        
            > div {
                margin-right: auto;
                margin-left: auto;
                padding-left: 5px;
                padding-right: 5px;
        
                > ul {
                    display: flex;
                    flex-direction: column;
                    text-align: start;
                    text-transform: uppercase;
                    position: absolute;
                    background: $beige;
                    top: 100%;
                    right: 0;
                    width: 100vw;
                    max-width: 576px;
                    height: 100vh;
                    border-left: 5px solid $orange;
                    transform: translate(+100%);
                    transition: transform 0.4s ease-out !important;
                    overflow: hidden;
        
                    > li {
                        width: 100%;
            
                        > a {
                            color: $blue;
                            font-weight: bolder;
                            width: 100%;
                            padding: 18px 20%;
                            display: inline-block;
                            position: relative;
                        }
                        
                        & :hover {
                            background: linear-gradient(to right, rgba(255, 181, 113,0.2) 0%, rgba(255, 181, 113,0.3) 60%, rgba(255, 181, 113,0.5) 90%);
                        }
    
                        & ::after {
                            content: '>';
                            display: inline-block;
                            position: absolute;
                            top: 22%;
                            right: 15px;
                            text-align: end;
                            font-size: 1.6em;
                            font-weight: 300;
                        }
    
                    }
                }
        
                & .open {
                    transform: translate(0%);
                }
            }
        }
    }

    > div:nth-of-type(3) {
        display: flex;
        justify-content: center;
        align-items: center;

        > button {
            width: 25px;
            height: 25px;
            padding: 0;
            background-color: $beige;
            cursor: pointer;
            border: none;
            display: flex;
            align-items: center;
            position: relative;
    
            > span {
                display: block;
                width: 100%;
                height: 2px;
                background: $black;
                position: absolute;
                pointer-events: none;
                transition: opacity 0.3s 0.15s ease-out;
            }
    
            > span:nth-child(1),
            span:nth-child(3) {
                transition: transform 0.3s ease-out;
            }
    
            > span:nth-child(1) {
                transform: translateY(7px);
            }
    
            > span:nth-child(3) {
                transform: translateY(-7px);
            }
        }
    
        > button.open span:nth-child(1) {
            transform: translate(0) rotate(135deg);
        }
    
        > button.open span:nth-child(2) {
            opacity: 0;
            transition: opacity 0s ease-out;
        }
    
        > button.open span:nth-child(3) {
            transform: translate(0) rotate(-135deg);
        }
        > div {
            font-size: calc(2rem + 1.5vw);
            margin-right: 2.5vw;
            cursor: pointer;
        }
    }

    @media #{$small} {
        // Styles pour les petits appareils (min-width: 576px)
        > div:nth-of-type(2) {

            > div nav div ul li a {
                padding: 20px 20%;

                & ::after {
                    top: 32%;
                }
            }
        }
    }
    
    @media #{$medium} {
        // Styles pour les appareils moyens (min-width: 768px)
        > div:nth-of-type(2) {

            > div nav div ul li a {
                padding: 32px 20%;
            }
        }
    }
    
    @media #{$medium-large} {
        // Styles pour les appareils intermédiaires (min-width: 850px)
    }
    @media #{$large} {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > div:nth-of-type(1) {
            width: 30%;

            > a > img {
                margin-right: 60%;
            }
        }

        > div:nth-of-type(2) {
            width: 50%;
            > div {

                > nav {
                    left: 0;
                    width: 100vw;
                    min-height: 75px;
                    box-shadow: inset 0px -4px 0px $orange;
                    
                    > div {
                        margin: 0 30px;
                
                        > ul {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            background: none;
                            top: 0;
                            left: 0;
                            margin: 0 auto;
                            height: 100%;
                            max-width: none;
                            width: 80%;
                            border-left: none;
                            transform: none;
                
                            > li {
                                font-size: 1.6rem;
                                width: fit-content;
        
                                > a {
                                    padding: 0;
                                    margin: 0;
                                    width: fit-content;
                                    display: inline-block;
                                    position: relative;
                                }
        
                                & :hover {
                                    background: none;
                                    background-color: $orange;
                                }
                
                                & ::after {
                                    content: '';
                                    display: block;
                                    position: relative;
                                    right: 0;
                                    bottom: -5px;
                                    width: 100%;
                                    height: 3px;
                                    background: $blue;
                                    transform: scaleX(0);
                                    transform-origin: left;
                                    transition: transform 0.3s ease-out;
                                }
                
                                & :hover::after {
                                    transform: scaleX(1);
                                }
        
                            }
                        }
        
                    }
                }
            }
        }
            

        > div:nth-of-type(3) {
            width: 30%;
            display: block;

            > div {
                margin: 1rem 0 0 18%;
                font-size: 1.6rem;

                > div {
                    font-size: 1.7rem;
                    height: 1.8rem;
                    margin: 0 0 1.2rem .3rem;
                    padding: 1rem;
                    border-radius: 1rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    color: $blue;

                    &:hover {
                        color: $orange;
                        background-color: $blue;
                        width: fit-content;

                        > p {
                            text-decoration: underline;
                        }
                    }

                    > p {
                        margin-left: 1rem;
                    }
                }

                .artist-pro-button {
                    width: fit-content;
                    margin: 0 0 1.2rem 1rem;
                    padding: .8rem 2.5rem;
                    font-size: 1.6rem;
                    font-weight: bold;
                    background-color: $blue;
                    border-radius: 2rem;

                    &:hover {
                        background-color: $orange;
                        
                        > a {
                            color: $blue;
                        }
                    }

                    > a {
                        color: $beige;
                    }
                }
            }
        }
    }
    
    @media #{$larger} {
        // Styles pour les appareils larges (min-width: 1100px)
        > div:nth-of-type(3) {
            > div {
                margin: 1rem 0 0 25%;;
            }   
        }
    }

    
    @media #{$extra} {
        // Styles pour les très grands appareils (min-width: 1200px)
        > div:nth-of-type(3) {

            > div {
                margin: 1rem 0 0 30%;;
            }   
        }
    }
    
    @media #{$extra-large} {
        // Styles pour les super grands écrans (min-width: 1400px)
        > div:nth-of-type(3) {

            > div {
                margin: 1rem 0 0 35%;;
            }   
        }
    }
    
    @media #{$ultra} {
        // Styles pour les ultra grands écrans (min-width: 1600px)
        > div:nth-of-type(3) {

            > div {
                margin: 1rem 0 0 40%;;
            }   
        }
    }
}