#homepage {

  // Event card inside glider

  .event-card {
    display: block;
    margin: 0 auto 1.5rem auto;
    height: 31.5rem;
    width: 22.5rem;
    border-radius: 1.8em;
    background-size: cover;
    background-position: center;
    box-shadow: inset 20em 1em rgba(0, 0, 0, 0.1);

    a {
      .card-block-date {
        margin-top: 2.4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2rem;
        font-weight: bold;
        line-height: 3rem;
        background-color: $black;
        width: 7rem;
        height: 10rem;

        p:nth-child(2){
          margin: .5rem auto;
          font-size: 3.4rem;
        }
      }

      .info-event-container {
        h3.mono {
          height: 5rem;
          width: 20rem;
          margin: 9rem 0 .5rem 0;
          padding: 0 0 0 1rem;
          text-align: left;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 2.8rem;
          text-shadow: -6px 4px 8px rgba(0, 0, 0, 0.7);
        }

        .rect-event-container {
          display: flex;
          justify-content: space-between;
          margin: 0 1rem;

          .rect-event {
            height: 1.6rem;
            width: 6.5rem;
            border-radius: 0.4rem;
            font-size: 1rem;
            padding-top: 0.2rem;
            color: $black;
            margin: 1rem 0 2rem 0;
          }

          .type {
            background-color: $beige;
          }
          .style {
            background-color: $orange;
          }
        }
      }
    }
  }

  // Home last actualities

  .home-last-actualities-container {
    width: 90%;
    height: auto;
    margin-bottom: 3rem;
    max-width: 1745px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  
    > .actuality-card {
      height: auto;
      width: 32.5rem;

      img {
        height: 22.75rem; 
        width: 32.5rem;
        border: 5px solid $orange;
        border-radius: 32.5px;
        object-fit: cover;
        object-position: center;
      }

      h3 {
        width: 95%;
        text-align: center;
        text-transform: uppercase;
        color: $blue;
        margin: 1rem auto;
        padding: 0 0 0 1rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }


  // Home newsletter


  .home-newsletter {
    p {
      width: 85%;
      margin: 0 auto 1.5rem auto;
    }
    p:first-of-type {
      font-weight: 500;
    }

    form,
    .home-newsletter-input-container {
      display: flex;
      flex-direction: column;
      text-align: left;
      width: 85%;
      max-width: 450px;
    }

    form {
      margin: 3rem auto;

      .home-newsletter-input-container {
        width: 100%;
      }

      #message {
        margin-top: 2rem;
        min-height: 3rem;
        text-align: center;
      }
    }
  }


  

  // Media queries

  @media #{$small} {
    // Styles pour les petits appareils (min-width: 576px)
    .home-last-actualities-container {
    
      .actuality-card {
        width: 50rem;
  
        img {
          height: 35rem;
          width: 50rem;
        }
  
        h3 {
          width: 90%;
          font-size: 1.8rem;
        }
      }
    }

    .home-newsletter {

      form,
      .home-newsletter-input-container {
        width: 80%;
      }
    }
  }

  @media #{$medium} {
    // Styles pour les appareils moyens (min-width: 768px)
    .event-card {
      max-height: 31.5rem;
      max-width: 22.5rem;
    }

    .home-newsletter {
      
      p {
        max-width: 900px;
      }

      form,
      .home-newsletter-input-container {
        width: 80%;
        max-width: 570px;
      }
  
      form {
        margin: 3rem auto;
        
        .home-newsletter-input-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
        }
      }
    }
  }

  @media #{$medium-large} {
    // Styles pour les appareils intermédiaires (min-width: 850px)
    .home-last-actualities-container {

      .actuality-card {
        width: 32.5rem;
  
        img {
          height: 22.75rem;
          width: 32.5rem;
        }
  
        h3 {
          width: 90%;
        }
      }
    }
  }

  @media (min-width: 910px) {
    .event-card {
      max-height: 42rem;
      max-width: 30rem;
      border-radius: 2.2em;

      > a {
        .card-block-date {
          font-size: 2.6rem;
          line-height: 4rem;
          width: 9rem;
          height: 12.5rem;
          border-radius: 0.5rem;
          transform: translateX(-1.2rem);

          p:nth-child(2){
            margin: .3rem auto;
            font-size: 4.6rem;
          }
        }

        .info-event-container {
          h3.mono {
            height: 7rem;
            width: 27rem;
            margin: 12rem 0 .5rem 0;
            font-size: 3.2rem;
            line-height: 3.1rem;
          }

          .rect-event-container .rect-event {
            height: 2.3rem;
            width: 8.6rem;
            font-size: 1.4rem;
            border-radius: 0.55rem;
            padding-top: 0.3rem;
          }
        }
      }
    }
    .home-last-actualities-container {
      gap: 5rem;
    }
  }

  @media #{$large} {
    // Styles pour les grands appareils (min-width: 992px)
    .home-last-actualities-container {
      > .actuality-card {
        width: 37.5rem;
  
        img {
          height: 26.55rem;
          width: 37.5rem;
        }
      }
    }
  }

  @media #{$larger} {
      // Styles pour les appareils larges (min-width: 1100px)
      .home-last-actualities-container {
        gap: 7rem;
      }
  }

  @media #{$extra} {
      // Styles pour les très grands appareils (min-width: 1200px)
    .home-last-actualities-container {
      gap: 3rem;

      > .actuality-card {
        width: 50rem;
  
        img {
          height: 35rem;
          width: 50rem;
        }
  
        h3 {
          font-size: 2rem;
        }
      }
    }
  }

  @media #{$extra-large} {
    // Styles pour les super grands écrans (min-width: 1400px)
    .home-last-actualities-container {
      gap: 7rem;
    }
  }

  @media #{$ultra} {
    // Styles pour les ultra grands écrans (min-width: 1600px)
    .home-last-actualities-container {
      gap: 10rem;
    }
  }
}
