// import
@font-face {
    font-family: 'OpenDyslexic';
    src: url('../../fonts/OpenDyslexic3-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('../../fonts/OpenDyslexic3-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
  
// COLORS
$beige: #F3F2E9;
$blue: #2E2D52;
$orange : #FFB571;
$red: #D13B2C;
$black: #000F08;

// form colors
$focus: #FF922C;
$validate : #90E39A;
$error : #FF715B;

// admin colors
$puce : #C37D92;
$earth-yellow : #EAB464;
$davy-gray : #50514F;
$columbia-blue : #C0D6DF;
  
// FONTS
$roboto: "Roboto", sans-serif;
$robotoMono: "Roboto Mono", monospace;
$openDyslexic: "OpenDyslexic";

// ANIMATIONS
@keyframes transformMenu {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: initial;
    }
}

// RESPONSIVE

// Petits appareils (téléphones en mode paysage, 576px et plus)
$small: "only screen and (min-width: 576px)";

// Appareils moyens (tablettes, 768px et plus)
$medium: "only screen and (min-width: 768px)";

// Appareils intermédiaires (entre tablettes et ordinateurs portables, 850px et plus)
$medium-large: "only screen and (min-width: 850px)";

// Grands appareils (ordinateurs de bureau, 992px et plus)
$large: "only screen and (min-width: 992px)";

// Appareils larges (ordinateurs de bureau plus grands, 1100px et plus)
$larger: "only screen and (min-width: 1100px)";

// Très grands appareils (grands écrans d'ordinateurs, 1200px et plus)
$extra: "only screen and (min-width: 1200px)";

// Super grands écrans (1400px et plus)
$extra-large: "only screen and (min-width: 1400px)";

// Ultra grands écrans (1600px et plus)
$ultra: "only screen and (min-width: 1600px)";