{% extends "layout.html.twig" %}

{% block description %}
{% endblock %}

{% block title %}
Actualités
{% endblock %}

{% block main %}
<main id="admin-user">
    <section>
        <h2>Administration des actualités</h2>
    </section>
</main>
{% endblock %}