{% extends "layout.html.twig" %}

{% block description %}
{% endblock %}

{% block title %}
Administration
{% endblock %}

{% block main %}
<main id="espace-admin">
    <section>
        <h2>Espace d'administration</h2>

        <ul>
            <li><a href="index.php?route=admin-utilisateurs">Administration des utilisateurs</a></li>
            <li><a href="index.php?route=admin-evenements">Administration des évènements</a></li>
            <li><a href="index.php?route=admin-actualites">Administration des actualités</a></li>
            <li><a href="index.php?route=admin-types-styles">Administration des types et styles</a></li>
        </ul>
    </section>
</main>
{% endblock %}