<footer>
    <div class="footer-flex-container">
        <div class="footer-top">
            <a href="index.php?route=accueil"><img src="assets/img/logo_coquelicot.png" alt="Logo du Coquelicot"></a>
            
            <div class="footer-address">
                <p class="no-toggle-dyslexia no-toggle-line-spacing">Le Coquelicot</p>
                <p class="no-toggle-dyslexia no-toggle-line-spacing">Café concert associatif</p>
                <p class="no-toggle-dyslexia no-toggle-line-spacing">18 Rue de Vitré</p>
                <p class="no-toggle-dyslexia no-toggle-line-spacing">35300 Fougères</p>
                <div class="footer-tel-container">
                    <i class="fa-sharp fa-solid fa-phone" style="color: #2e2d52;"></i>
                    <p class="no-toggle-dyslexia no-toggle-line-spacing">02 99 99 84 52</p>
                </div>
                <div class="footer-mail-container">
                    <i class="fa-solid fa-envelope" style="color: #2e2d52;"></i>
                    <p class="no-toggle-dyslexia no-toggle-line-spacing">communicationjazzetjava@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="footer-separation"></div>
        <div class="footer-bottom">
            <div class="footer-nav">
                <nav>
                    <ul>
                        {% include "_li-nav.html.twig" %}
                        <li><a href="index.php?route=artiste-pro">Espace Artiste / Pro</a></li>
                    </ul>
                </nav>
            </div>

            <div class="footer-rs-legal">
                <a href="https://www.facebook.com/lecoquelicotmusique/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/coquelicot.fougeres/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="#header"><i class="fa-solid fa-arrow-up"></i></a>
                <ul>
                    <li><a href=""></a>Politique de confidentialité</li>
                    <li><a href=""></a>Conditions générales de vente</li>
                    <li><a href=""></a>Mentions légales</li>
                </ul>
            </div>
        </div>
    </div>
    <p class="footer-copyright no-toggle-dyslexia no-toggle-line-spacing">&copy; 2024 Le Coquelicot, Café-Concert associatif.<br>Created by Gaël Felix</p>
</footer>