<li><a href="index.php?route=accueil">Accueil</a></li>
<li><a href="index.php?route=programmation">Programmation</a></li>
<li><a href="index.php?route=actualites">Actualités</a></li>
<li><a href="index.php?route=l-association">L'association</a></li>
<li><a href="index.php?route=adherer-faire-un-don">Adhérer / Faire un don</a></li>
<li><a href="index.php?route=info-contact">Infos / Contact</a></li>