{% extends "layout.html.twig" %}

{% block description %}
{% endblock %}

{% block title %}
Actualités
{% endblock %}

{% block main %}
<main id="actualites">
    <section>
        <h2>Actualités</h2>
        {% for actuality in actualities %}
            <article class="actuality-card" style="background-image: url('{{ actuality.media.url }}');" alt="{{ actuality.media.alt }}">
                <a href="index.php?route=actualite&id={{ actuality.id }}">
                    <h3>{{ actuality.title }}</h3>
                </a>
            </article>
        {% endfor %}
    </section>
</main>
{% endblock %}
