{% extends "layout.html.twig" %}

{% block description %}
{% endblock %}

{% block title %}
Actualités
{% endblock %}

{% block main %}
<main id="actualites">
    <section>
        <h2>Actualités</h2>
        <div class="actualities-container">
            {% for actuality in actualities %}
            <a class="actuality-card" href="index.php?route=actualite&id={{ actuality.id|striptags }}">
                <img src='{{ actuality.media.url|striptags }}');" alt="{{ actuality.media.alt|striptags }}" "class="actuality-card">
                <h3>{{ actuality.title|striptags }}</h3>
            </a>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
