{% extends "layout.html.twig" %}

{% block description %}
{% endblock %}

{% block title %}
Adhérer ou faire un don
{% endblock %}

{% block main %}
<main id="adherer-don">
    <section>
        <h2>Adhérer ou faire un don</h2>
    </section>
</main>
{% endblock %}