{% extends "layout.html.twig" %}

{% block description %}
Soutenez Le Coquelicot en adhérant à l'association ou en faisant un don. Participez à la promotion de la culture locale et aidez-nous à maintenir un espace culturel dynamique à Fougères.
{% endblock %}

{% block title %}
Adhérer ou faire un don
{% endblock %}

{% block main %}
<main id="adherer-don">
    <section aria-labelledby="adherer-don-titre">
        <h2 id="adherer-don-title">Adhérer ou faire un don</h2>
        <div class="adhesion-container" id="adhesion" aria-labelledby="adhesion-titre">
            <h3 id="adhesion-title">Adhérer</h3>
            <p>Adhérer à une association comme Le Coquelicot est essentiel pour soutenir la culture locale et participer à des initiatives communautaires. En devenant membre, vous contribuez à la promotion d'événements artistiques, à l'organisation de concerts et à la création d'un espace convivial pour tous. Votre adhésion renforce les liens sociaux et permet d'accéder à des activités variées. Rejoindre Le Coquelicot, c'est s'engager pour un avenir culturel dynamique et inclusif. Ensemble, faisons vibrer notre communauté !</p>
            <div class="tac_helloasso" data-url="https://www.helloasso.com/associations/association-le-jazz-et-la-java/adhesions/adhesion-2024/widget" width="100%" height="800px"></div>
        </div>

        <div class="don-container" id="don" aria-labelledby="don-titre">
            <h3 id="don-title">Faire un don</h3>
            <p>Donner à une association comme Le Coquelicot est crucial pour soutenir la culture locale et permettre aux artistes de s'exprimer. Cela renforce les liens communautaires, favorise l'inclusion et rend les événements accessibles à tous. Vos contributions assurent la pérennité des projets et améliorent l'expérience des visiteurs. En soutenant Le Coquelicot, vous participez à un changement positif et enrichissez notre vie culturelle. Chaque geste compte !</p>
            <div class="tac_helloasso" data-url="https://www.helloasso.com/associations/association-le-jazz-et-la-java/formulaires/1/widget" width="100%" height="800px"></div>
        </div>    
    </section>
</main>
{% endblock %}