{% extends "layout.html.twig" %}

{% block description %}
{% endblock %}

{% block title %}
Adhérer ou faire un don
{% endblock %}

{% block main %}
    <h1>JE SUIS ADHERER OU FAIRE UN DON</h1>
{% endblock %}