{% extends "layout.html.twig" %}

{% block description %}
Espace dédié aux artistes et professionnels du spectacle. Découvrez les conditions d'accompagnement, pour jouer, pour la location et la fiche technique de la scène du Coquelicot, café-concert associatif à Fougères.
{% endblock %}

{% block title %}
Espace Artiste / Pro
{% endblock %}

{% block main %}
<main id="artiste-pro">
    <section aria-labelledby="artiste-pro-title">
        <h2 id="artiste-pro-title">Espace Artiste / Pro</h2>
        <h3>Accompagnement</h3>
        <p>En parallèle de la diffusion, nous suivons les artistes émergents dans leur processus de création. Le Coquelicot offre un cadre de travail idéal (travail scénique ou encore enregistrement). Il met à disposition ses lieux (scène et maison) et son personnel administratif.</p>
        <p>Sans être un lieu de formation, nous essayons d’apporter de la ressource aux artistes en cours de professionnalisation, n’hésitez pas à nous contacter.</p>
        <p>Nous n’oublions pas pour autant les amateurs dont nous soutenons les pratiques.</p>
        <p>Pour toute demande, merci de nous contacter au 02 99 99 84 52.</p>
    </section>

    <section>
        <h3>Jouer au Coquelicot</h3>
        <h4>Location</h4>
        <p><span>Conditions financières :</span>
            <br>Contrat de location de 200 € HT + 10 € repas + 10 € l’hébergement
        </p>
        <p><span>La location de la salle comprend :</span>
            <br>– une régie son et lumière (fiches techniques disponible sur ce site)
            <br>– un technicien de la salle (son et/ou lumières )
            <br>– la communication (internet et journaux) autour du concert.
        </p>
        <p><span>En supplément :</span>
            <br>– une maison équipée (cuisine+ 6 chambres + salon + salle de bain)
            <br>– forfait hébergement + repas avant concert 20€ ttc / personne.
        </p>

        <h4>Programmation</h4>
        <p><span>Conditions financières :</span>
            <br>Contrat de Co-réalisation ( 70% producteur – 30 % organisateur ), engagement direct ou contrat de cession selon les évènements.
        </p>
    </section>

    <section>
        <h3>Fiche technique</h3>

        <div class="technic-info-container">
            <div>
                <p><span>Capacité d'accueil :</span>
                    <br>70 personnes assises
                </p>
                <p><span>Description scène :</span>
                    <br>– Ouverture : 4m
                    <br>– Profondeur : 4m
                    <br>– Hauteur : 50 cm
                    <br>– Hauteur sous plafond : 3, 00 m
                    <br>– Pendrillonnage à l’allemande
                </p>
                <p><span>Système son façade :</span>
                    <br>– 2 MDC 12″ (Cluster)
                    <br>– 2 Martin Audio F8 Delay (Cluster)
                    <br>– 1 MDC SUB 1 (18″)
                    <br>– Powersoft Quattro 4804 dsp (Ampli)
                </p>
                <p><span>Système son retour :</span>
                    <br>– 2 Martin Audio F8 Delay (Cluster ou Wedge)
                    <br>– 1 HK Audio DART 370 W amplifié
                    <br>– 1 JBL EON 12″ amplifié
                    <br>– Powersoft Quattro 4804 dsp
                </p>
                <p><span>Régie son : </span>
                    <br>– Console Allen and Heath SQ 5
                    <br>– 1 DBX 640 M processeur multi zone 6 in / 4 out
                    <br>– 1 EQ DBX 231 ( 2×31 bandes )
                    <br>– 1 EQ 8 bandes Alesis Retours/Delay
                </p>
            </div>
    
            <div>
                <p><span>Sorties consoles :</span>
                    <br>– 1 x DMX 512
                </p>
                <p><span>Blocs de puissance :</span>
                    <br>– 12 circuits X 1 KW ( 3 Gradats Tutello – 4 * 1 KW )
                    <br>– Eclairage de salle indépendant
                </p>
                <p><span>Projecteurs :</span>
                    <br>– 4 PAR 56 Lampes MFL
                    <br>– 4 PAR 56 Lampes WFL
                    <br>– 12 PAR 36 Lampes WFL
                    <br>– 4 PC 500 W
                    <br>– 2 Mini Découpe 90W
                </p>
                <p><span>Divers :</span>
                    <br>– Machine à Brouillard Unique 2
                    <br>– 4 platines bois
                </p>
                <p><span>Consommables à disposition :</span>
                    <br>– Gélatines – 119 / 135 / 180 / 026
                    <br>– Gaffer Noir & Blanc / Barnier
                </p>
            </div>
        </div>

    </section>
</main>
{% endblock %}