{% extends "layout.html.twig" %}

{% block description %}
{% endblock %}

{% block title %}
Espace Artiste / Pro
{% endblock %}

{% block main %}
<main id="artiste-pro">
    <section>
        <h2>Espace Artiste / Pro</h2>
    </section>
</main>
{% endblock %}