{% extends "layout.html.twig" %}

{% block description %}
{% endblock %}

{% block title %}
L'association
{% endblock %}

{% block main %}
<main id="association">
    <section>
        <h2>L'association</h2>
    </section>
</main>
{% endblock %}