{% extends "layout.html.twig" %}

{% block description %}
{% endblock %}

{% block title %}
Billetterie
{% endblock %}

{% block main %}
<main id="billetterie">
    <section>
        <h2>Billetterie</h2>
    </section>
</main>
{% endblock %}