{% extends "layout.html.twig" %}

{% block description %}
Page de connexion pour les artistes et professionnels du spectacle. Accédez à l'espace artiste et pro sur le site du Coquelicot, café-concert associatif à Fougères.
{% endblock %}

{% block title %}
Se connecter
{% endblock %}

{% block main %}
<main id="connexion">
    <section>
        <h2 id="titre-connexion">Se connecter</h2>
        <p>Cette page est réservée aux artistes et professionnels du spectacle. Pour y accéder, veuillez vous connecter avec votre compte.</p>
        {% if session.error_message is not null %}
            <div class="alert" role="alert">
                <p>{{ session.error_message|e }}</p>
                <i class="fa-solid fa-xmark" aria-hidden="true"></i>
            </div>
        {% endif %}

        <form action="index.php?route=check-login" method="post">
            <input type="hidden" name="csrf-token" id="csrf-token" value="{{ session.csrf_token }}" >
            
            <label for="email">Adresse mail</label>
            <input type="email" name="email" id="email" required aria-required="true">

            <label for="password">Mot de passe</label>
            <div class="password-container">
                <input type="password" class="password" name="password" id="password" required aria-required="true">
                <span class="eyes">
                    <i class="fas fa-eye-slash eyesImag"></i>
                </span>
            </div>

            <button type="submit" class="submit-button">Se connecter</button>
        </form>
        <p>Vous avez perdu votre de mot de passe ?</p>
        <a href="index.php?route=info-contact#contact" aria-label="Réinitialiser le mot de passe">Mot de passe oublié ?</a>
        <p>Vous n'avez pas encore de compte ?</p>
        <a href="index.php?route=inscription" aria-label="Créer un nouveau compte">Créer un compte</a>
    </section>
</main>
{% endblock %}