{% extends "layout.html.twig" %}

{% block description %}
{% endblock %}

{% block title %}
Espace perso
{% endblock %}

{% block main %}
<main id="espace-perso">
    <section>
        <h2>Espace</h2>
    </section>
</main>
{% endblock %}