{% extends "layout.html.twig" %}

{% block description %}
{% endblock %}

{% block title %}
Erreur 404
{% endblock %}

{% block main %}
<main id="erreur404">
    <section>
        <h2>Erreur 404</h2>
        <p>Oups, il semblerait que vous vous êtes perdu. Si vous voulez retrouver la bonne route, c'est par ici</p>
        <a href="index.php">Accueil</a>
        <img src="assets/img/404.webp" alt="Image d'un homme surpris" width="30%">
    </section>
</main>
{% endblock %}