{% extends "layout.html.twig" %}

{% block description %}
Page d'erreur 404 - La page que vous recherchez n'a pas été trouvée sur le site du Coquelicot, café-concert associatif à Fougères.
{% endblock %}

{% block title %}
Erreur 404
{% endblock %}

{% block main %}
<main id="erreur404">
    <section aria-labelledby="titre-erreur404">
        <h2 id="titre-erreur404">Erreur 404</h2>
        <p>Oups, il semblerait que vous vous soyez perdu. Si vous voulez retrouver la bonne route, c'est par ici</p>
        <a href="index.php" aria-label="Retourner à la page d'accueil">Accueil</a>
        <img src="assets/img/404.webp" alt="Image d'un homme surpris" width="30%">
    </section>
</main>
{% endblock %}