{% extends "layout.html.twig" %}

{% block description %}
{% endblock %}

{% block title %}
Administration
{% endblock %}

{% block main %}
<main id="administration">
    <section>
        <h2>Administration du site</h2>
    </section>
</main>
{% endblock %}