{% extends "layout.html.twig" %}

{% block description %}
{% endblock %}

{% block title %}
{{ event.getName() }}
{% endblock %}

{% block main %}
    <h1>JE SUIS UN EVENEMENT</h1>
    <h3 class="mono">{{ event.name }}</h3>
{% endblock %}