{% extends "layout.html.twig" %}

{% block description %}
{% endblock %}

{% block title %}
Info / Contact
{% endblock %}

{% block main %}
<main id="info-contact">
    <section>
        <h2>Info / Contact</h2>
    </section>
</main>
{% endblock %}