{% extends "layout.html.twig" %}

{% block description %}
Informations de contact et horaires du Coquelicot, café-concert associatif à Fougères. Accessibilité, prévention et formulaire de contact.
{% endblock %}

{% block title %}
Info / Contact
{% endblock %}

{% block main %}
<main id="info-contact">
    <section class="info-section">
        <div class="info-container">
            <h2 id="titre-info-contact">Info / Contact</h2>
            <h3>Le Coquelicot, Café concert associatif</h3>
            <p><span>Association Le Jazz et La Java</span> - Association loi 1901</p>
            
            <div class="separation"></div>

            <div class="adress-container" aria-label="Adresse">
                <p>Le Coquelicot</p>
                <p>18 Rue de Vitré</p>
                <p>35300 Fougères</p>
            </div>

            <div class="contact-tel-container" aria-label="Numéro de téléphone">
                <i class="fa-sharp fa-solid fa-phone" aria-hidden="true"></i>
                <p class="no-toggle-dyslexia no-toggle-line-spacing">02 99 99 84 52</p>
            </div>
            <div class="contact-mail-container" aria-label="Adresse e-mail">
                <i class="fa-solid fa-envelope" aria-hidden="true"></i>
                <p class="no-toggle-dyslexia no-toggle-line-spacing">communicationjazzetjava@gmail.com</p>
            </div>

            <div class="separation"></div>

            <div class="info-rules-container">
                <h4>Accessibilité</h4>
                <p>Le Coquelicot est accessible aux personnes à mobilité réduite, n'hésitez pas à nous contacter pour que nous puissions organiser au mieux votre venue.</p>
                <h4>Prévention</h4>
                <p>Le Coquelicot est un endroit où le racisme, l'homophobie, le sexisme, la transphobie et toute autre violence ne sont pas tolérées. Nos salariés et bénévoles sont formés sur les violences sexistes et sexuelles et toutes forme de discrimination.</p>
            </div>

            <div class="separation"></div>

            <ul aria-label="Informations légales">
                <li>Siret : 41771474800015 – APE : 9002Z</li>
                <li>Licence 1 : PLATESV-R-2022-007247</li>
                <li>Licence 2 : PLATES-R-2022-007248</li>
                <li>Licence 3 : PLATESV-R-2022-007250</li>
            </ul>
        </div>
    </section>

    <section class="schedule-section" aria-labelledby="titre-horaires">
        <h3 id="titre-horaires">Horaires du Coquelicot</h3>
        <div class="schedule-container">
            <img src="assets/img/devanture-coquelicot.jpeg" alt="Image de la devanture du Coquelicot">
            <div class="schedule-info" aria-label="Horaires d'ouverture">
                <div>
                    <p>Mercredi</p>
                    <p>17:00 / 00:00</p>
                </div>
                <div>
                    <p>Jeudi</p>
                    <p>17:00 / 01:00</p>
                </div>
                <div>
                    <p>Vendredi</p>
                    <p>17:00 / 03:00</p>
                </div>
                <div id="contact">
                    <p>Samedi</p>
                    <p>17:00 / 03:00</p>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-section" aria-labelledby="titre-contact">
        <h3 id="titre-contact">Nous contacter</h3>
        <form action="index.php?route=envoi-message" method="post" novalidate aria-labelledby="titre-contact">
            <input type="hidden" name="csrf-token" id="csrf-token" value="{{ session.csrf_token }}" />
            <div class="contact-input-container">
                <div class="firstname-contact-input">
                    <label for="firstName">Prénom<sup> *</sup></label>
                    <input type="text" id="firstName" name="firstName" required aria-required="true">
                </div>
                <div class="lastname-contact-input">
                    <label for="lastName">Nom<sup> *</sup></label>
                    <input type="text" id="lastName" name="lastName" required aria-required="true">
                </div>
            </div>

            <div class="contact-input-container">
                <div class="email-contact-input">
                    <label for="email">Adresse mail<sup> *</sup></label>
                    <input type="email" id="email" name="email" required aria-required="true">
                </div>
                <div class="phone-contact-input">
                    <label for="phone">Téléphone</label>
                    <input type="tel" id="phone" name="phone" pattern="\d{10}" maxlength="10">
                </div>
            </div>

            <label for="subject">Sujet<sup> *</sup></label>
            <input type="text" id="subject" name="subject" required aria-required="true">

            <label for="textarea-message">Message<sup> *</sup></label>
            <textarea id="textarea-message" name="message" required aria-required="true"></textarea>

            <input type="submit" name="orange" value="Envoyer">

            <p id="message"></p>
        </form>
    </section>
</main>
{% endblock %}