{% extends "layout.html.twig" %}

{% block description %}
{% endblock %}

{% block title %}
S'inscrire
{% endblock %}

{% block main %}
<main id="inscription">
    <section>
        <h2>Inscription</h2>
        
        {% if  session.error_message is not null %}
            <div class="alert">
                <p>{{ session.error_message|striptags }}</p>
                <i class="fa-solid fa-xmark"></i>
            </div>
        {% endif %}

        <form action="index.php?route=check-register" method="post">
            <input type="hidden" name="csrf-token" id="csrf-token" value="{{ session.csrf_token }}" />
            <fieldset class="form">
                <label for="first-name" class="form-label">
                    Prénom
                </label>
                <input type="text" name="first-name" id="first-name" class="form-control"/>
            </fieldset>
            <fieldset class="form">
                <label for="last-name" class="form-label">
                    Nom
                </label>
                <input type="text" name="last-name" id="last-name" class="form-control"/>
            </fieldset>
            <fieldset class="form">
                <label for="email" class="form-label">
                    Adresse mail
                </label>
                <input type="email" name="email" id="email" class="form-control"/>
            </fieldset>
            <fieldset class="form">
                <label for="password" class="form-label">
                    Mot de passe
                </label>
                <input type="password" name="password" id="password" class="form-control" />
            </fieldset>
            <fieldset class="form">
                <label for="confirm-password" class="form-label">
                    Confirmer le mot de passe
                </label>
                <input type="password" name="confirm-password" id="confirm-password"  class="form-control"/>
            </fieldset>
            <fieldset>
                <button type="submit" class="submit-button">S'inscrire</button>
            </fieldset>
        </form>
        <a href="index.php?route=connexion">Connectez-vous</a>

    </section>
</main>

{% endblock %}