<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/3c515cc4da.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="assets/styles/css/style.css" />
        <link rel="shortcut icon" type="image/png" href="assets/img/logo_coquelicot.png"/>
        <title>{% block title %}{% endblock %} | Le Coquelicot</title>
    </head>

    <body>

        <div id="overlay-mobile"></div>

        <div id="loader">
            <div class="loader"></div>
            <p>Chargement de la page</p>
        </div>

    {# Header #}
    {% include "_header.html.twig" %}
    {# Header #}

    {# Page content #}
        {% block main %}{% endblock %}
    {# Page content #}

    {# Footer #}
    {% include "_footer.html.twig" %}
    {# Footer #}

    {# Scripts JS #}
    {% if scripts is defined %}
        {% for script in scripts %}
            <script src="{{ script }}"></script>
        {% endfor %}
    {% endif %}
    {# Scripts JS #}

    </body>
</html>