@charset "UTF-8";
@font-face {
  font-family: "OpenDyslexic";
  src: url("../../fonts/OpenDyslexic3-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("../../fonts/OpenDyslexic3-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}
@keyframes transformMenu {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: initial;
  }
}
/********** GLOBAL & TOOLS **********/
/* GLOBAL */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background-color: #F3F2E9;
  text-align: center;
  min-width: 350px;
}

h1 {
  padding: calc(9rem + 3vw) 0 calc(1rem + 2vw);
  margin: 0;
  font-size: calc(2rem + 2vw);
  text-transform: uppercase;
  color: #F3F2E9;
  background-color: #2E2D52;
}

h2 {
  margin: 0;
  padding: 2rem;
  font-size: calc(1.8rem + 2vw);
  text-transform: uppercase;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

.blue {
  color: #F3F2E9;
  background-color: #2E2D52;
}

.beige {
  color: #2E2D52;
  background-color: #F3F2E9;
}

.mono {
  font-style: "Roboto Mono", monospace;
  color: white;
  text-transform: uppercase;
}

.invisible {
  display: none;
}

/********** HEADER & FOOTER **********/
/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F3F2E9;
  height: calc(4.5em + 2vw);
  border-bottom: 5px solid #FFB571;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  z-index: 9999;
}
header .logo-coquelicot {
  max-height: calc(3em + 2vw);
}
header .header-title {
  color: #D13B2C;
  margin: 0;
  font-size: calc(1.4rem + 1.2vw);
  font-weight: bold;
}
header .header-title > span {
  font-size: calc(1.1rem + 1.2vw);
}
header .header-right-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .burger-menu {
  font-size: calc(2rem + 1.5vw);
  margin-right: 2.5vw;
  cursor: pointer;
}

.nav {
  position: fixed;
  top: calc(4.5em + 2vw);
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: #2E2D52;
  padding: 14px 0 0 14px;
  border-left: 5px solid #FFB571;
  display: none;
}
.nav.menu-active {
  display: flex;
  animation: transformMenu 500ms ease-in-out forwards;
  z-index: 9998;
}
.nav ul li {
  padding: 0.8rem 1rem;
  font-weight: 500;
  text-transform: uppercase;
}
.nav ul li a {
  color: #F3F2E9;
  font-size: 1.8rem;
  padding: 0.8rem 2rem;
}
.nav ul li a:hover {
  background-color: #FFB571;
  border-radius: 3px;
}

.overlay-menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.overlay-menu-mobile.menu-active {
  display: flex;
  z-index: 9997;
}

/* FOOTER */
footer {
  border-top: 5px solid #FFB571;
}
footer .footer-top,
footer .footer-bottom {
  display: flex;
  justify-content: center;
}
footer .footer-top i,
footer .footer-bottom i {
  font-size: calc(0.7rem + 1.3vw);
  padding-right: 10px;
}
footer .footer-top {
  padding: calc(1rem + 2.5vw) 10px;
}
footer .footer-top .footer-logo > img {
  margin-right: calc(0.6rem + 2vw);
  width: calc(8.5rem + 6.5vw);
}
footer .footer-top p {
  margin: 0;
  text-align: left;
  font-size: calc(0.8rem + 1.3vw);
}
footer .footer-top .footer-tel-container,
footer .footer-top .footer-mail-container {
  display: flex;
}
footer .footer-top .footer-tel-container {
  padding-top: 1rem;
}
footer .footer-separation {
  height: 2px;
  width: 90%;
  margin: 0 auto calc(1rem + 2.5vw) auto;
  background-color: #000000;
}
footer .footer-bottom {
  text-align: left;
}
footer .footer-bottom i,
footer .footer-bottom li {
  padding: calc(0.2rem + 1.5vw) 0;
}
footer .footer-nav,
footer .footer-rs-legal {
  font-size: calc(0.8rem + 1.5vw);
  margin: 0 calc(0.5rem + 4vw);
}
footer .footer-nav i,
footer .footer-rs-legal i {
  font-size: calc(2rem + 3vw);
  margin: 0 calc(0.5rem + 5vw) calc(0.5rem + 3vw) 0;
}
footer .footer-copyright {
  font-size: calc(0.8rem + 1.3vw);
  margin-top: calc(5rem + 2.5vw);
}

/********** HOMEPAGE **********/
/* NEXT EVENTS */
.home-next-events {
  border-bottom: 5px solid #FFB571;
}

/* Carousel */
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.wrapper {
  display: flex;
  grid-gap: 1em;
  width: 20em;
  overflow: hidden;
}
.wrapper .home-events-container {
  display: flex;
  grid-gap: 4.33333em;
  padding-left: 5.1rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  transition: all 1s ease-in-out;
  transform: translateX(-10%);
}

.event-card {
  border-radius: 3em;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  height: 25em;
  width: 17.5em;
  background-size: cover;
  background-position: center;
  box-shadow: inset 20em 1em rgba(0, 0, 0, 0.1);
}

.card-block-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 4rem;
  background-color: black;
  width: 9rem;
  height: 12.5rem;
  margin-top: 3rem;
  transform: translateX(-15%);
  border-radius: 0.5rem;
}
.card-block-date time {
  margin: 0 1.2rem;
}
.card-block-date .date {
  margin: 0 1.5rem;
  font-size: 4.8rem;
}

h3.mono {
  height: 8rem;
  width: 27rem;
  margin: 9rem 0 1rem 0;
  padding: 0 0 0 1rem;
  text-align: left;
  font-size: 3.2rem;
  font-weight: 500;
  text-shadow: -6px 4px 8px rgba(0, 0, 0, 0.7);
}

.rect-event-container {
  display: flex;
  justify-content: space-around;
}
.rect-event-container .rect-event {
  height: 2.1rem;
  width: 8.5rem;
  border-radius: 0.65rem;
  font-size: 1.4rem;
  padding-top: 0.2rem;
  color: #000000;
}
.rect-event-container .type {
  background-color: #F3F2E9;
}
.rect-event-container .style {
  background-color: #FFB571;
}

.map {
  margin-top: 1em;
}
.map button {
  all: unset;
  background: #F3F2E9;
  cursor: pointer;
  margin: 0 0.125em;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 100%;
  height: 1em;
  width: 1em;
}
.map button.active:after {
  background: #FFB571;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  height: 1em;
  width: 1em;
}
.map button:not(:first-of-type):not(:last-of-type) {
  margin: 3rem;
}

/* NEXT ACTUALITIES */
/* NEWSLETTER */
/* Tablettes (portrait et paysage) */
@media (min-width: 600px) and (max-width: 899px) {
  /* Carousel */
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  .wrapper {
    width: 45em;
    overflow: -moz-hidden-unscrollable;
  }
  .wrapper .home-events-container {
    grid-gap: 4.33333em;
    padding-left: 15.1rem;
  }
}
/* Ordinateurs portables et petits écrans de bureau */
/* Grands écrans de bureau */
@media (min-width: 1200px) {
  /* Carousel */
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
  .wrapper {
    display: flex;
    grid-gap: 1em;
    width: 65em;
    overflow: hidden;
  }
  .wrapper .home-events-container {
    display: flex;
    grid-gap: 4.33333em;
    transition: all 1s ease-in-out;
    transform: translateX(-10%);
  }
  .event-card {
    border-radius: 3em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    height: 25em;
    width: 17.5em;
    background-size: cover;
    background-position: center;
    box-shadow: inset 20em 1em rgba(0, 0, 0, 0.1);
  }
  .card-block-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 4rem;
    background-color: black;
    width: 9rem;
    height: 12.5rem;
    margin-top: 3rem;
    transform: translateX(-15%);
    border-radius: 0.5rem;
  }
  .card-block-date time {
    margin: 0 1.2rem;
  }
  .card-block-date .date {
    margin: 0 1.5rem;
    font-size: 4.8rem;
  }
  h3.mono {
    height: 8rem;
    width: 27rem;
    margin: 9rem 0 1rem 0;
    padding: 0 0 0 1rem;
    text-align: left;
    font-size: 3.2rem;
    font-weight: 500;
    text-shadow: -6px 4px 8px rgba(0, 0, 0, 0.7);
  }
  .rect-event-container {
    display: flex;
    justify-content: space-around;
  }
  .rect-event-container .rect-event {
    height: 2.1rem;
    width: 8.5rem;
    border-radius: 0.65rem;
    font-size: 1.4rem;
    padding-top: 0.2rem;
    color: #000000;
  }
  .rect-event-container .type {
    background-color: #F3F2E9;
  }
  .rect-event-container .style {
    background-color: #FFB571;
  }
  .map {
    margin-top: 1em;
  }
  .map button {
    all: unset;
    background: #F3F2E9;
    cursor: pointer;
    margin: 0 0.125em;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    border-radius: 100%;
    height: 1em;
    width: 1em;
  }
  .map button.active:after {
    background: #FFB571;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    height: 1em;
    width: 1em;
  }
  .map button:not(:first-of-type):not(:last-of-type) {
    margin: 3rem;
  }
}