/* CSS Reset par Eric Meyer, v2.0 - 20110126
   http://meyerweb.com/eric/tools/css/reset/
   Licence: Public Domain
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "OpenDyslexic";
  src: url("../../fonts/OpenDyslexic3-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("../../fonts/OpenDyslexic3-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@keyframes transformMenu {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: initial;
  }
}
/* Style cercle */
/* Animation de rotation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#overlay-mobile {
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
}
#overlay-mobile.overlay-visible {
  visibility: visible;
  opacity: 1;
}
#overlay-mobile.overlay-hidden {
  visibility: hidden;
  opacity: 0;
}

#customization-modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#customization-modal .modal-content {
  background-color: #f3f2e9;
  margin: 10% auto;
  padding: 20px;
  border: 5px solid #FFB571;
  border-radius: 20px;
  width: 300px;
  text-align: left;
}
#customization-modal .modal-content .close {
  color: #000F08;
  float: right;
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
}
#customization-modal .modal-content h3 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
#customization-modal .modal-content .toggle-option {
  background-color: #FFB571;
  border: 3px solid #2E2D52;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
}
#customization-modal .modal-content .toggle-option > label {
  color: #2E2D52;
  font-size: 2rem;
  font-weight: bold;
}
#customization-modal .modal-content .toggle-option .toggle-container {
  display: flex;
  align-items: center;
}
#customization-modal .modal-content .toggle-option .toggle-container .toggle {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 60px;
  height: 34px;
}
#customization-modal .modal-content .toggle-option .toggle-container .toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
#customization-modal .modal-content .toggle-option .toggle-container .toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2E2D52;
  transition: 0.4s;
  border-radius: 34px;
}
#customization-modal .modal-content .toggle-option .toggle-container .toggle .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #f3f2e9;
  transition: 0.4s;
  border-radius: 50%;
}
#customization-modal .modal-content .toggle-option .toggle-container .toggle input:checked + .slider {
  background-color: #51CB5F;
}
#customization-modal .modal-content .toggle-option .toggle-container .toggle input:checked + .slider:before {
  transform: translateX(26px);
}
#customization-modal .modal-content .toggle-option .toggle-container #toggle-dyslexia-label,
#customization-modal .modal-content .toggle-option .toggle-container #toggle-line-spacing-label {
  color: #2E2D52;
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 15px;
}

.header-accessibility {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f2e9;
  height: 9rem;
  box-shadow: inset 0px -4px 0px #FFB571;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 1.2rem;
  box-sizing: border-box;
  z-index: 9999;
}
header > div:first-of-type a img {
  max-height: calc(3em + 1.6vw);
}
header > div:nth-of-type(2) > div h1 span {
  font-size: calc(1rem + 1.2vw);
}
header > div:nth-of-type(2) > div nav {
  z-index: 1000;
  padding: 0px;
  background-color: #f3f2e9;
  position: fixed;
  top: 90px;
  right: 0;
}
header > div:nth-of-type(2) > div nav > div {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
}
header > div:nth-of-type(2) > div nav > div > ul {
  display: flex;
  flex-direction: column;
  text-align: start;
  text-transform: uppercase;
  position: absolute;
  background: #f3f2e9;
  top: 100%;
  right: 0;
  width: 100vw;
  max-width: 576px;
  height: 100vh;
  border-left: 5px solid #FFB571;
  transform: translate(100%);
  transition: transform 0.4s ease-out !important;
  overflow: hidden;
}
header > div:nth-of-type(2) > div nav > div > ul > li {
  width: 100%;
}
header > div:nth-of-type(2) > div nav > div > ul > li > a {
  color: #2E2D52;
  font-weight: bolder;
  width: 100%;
  padding: 18px 20%;
  display: inline-block;
  position: relative;
}
header > div:nth-of-type(2) > div nav > div > ul > li :hover {
  background: linear-gradient(to right, rgba(255, 181, 113, 0.2) 0%, rgba(255, 181, 113, 0.3) 60%, rgba(255, 181, 113, 0.5) 90%);
}
header > div:nth-of-type(2) > div nav > div > ul > li ::after {
  content: ">";
  display: inline-block;
  position: absolute;
  top: 22%;
  right: 15px;
  text-align: end;
  font-size: 1.6em;
  font-weight: 300;
}
header > div:nth-of-type(2) > div nav > div .open {
  transform: translate(0%);
}
header > div:nth-of-type(3) {
  display: flex;
  justify-content: center;
  align-items: center;
}
header > div:nth-of-type(3) > button {
  width: 25px;
  height: 25px;
  padding: 0;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  position: relative;
}
header > div:nth-of-type(3) > button > span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000F08;
  position: absolute;
  pointer-events: none;
  transition: opacity 0.3s 0.15s ease-out;
}
header > div:nth-of-type(3) > button > span:nth-child(1),
header > div:nth-of-type(3) > button span:nth-child(3) {
  transition: transform 0.3s ease-out;
}
header > div:nth-of-type(3) > button > span:nth-child(1) {
  transform: translateY(7px);
}
header > div:nth-of-type(3) > button > span:nth-child(3) {
  transform: translateY(-7px);
}
header > div:nth-of-type(3) > button.open span:nth-child(1) {
  transform: translate(0) rotate(135deg);
}
header > div:nth-of-type(3) > button.open span:nth-child(2) {
  opacity: 0;
  transition: opacity 0s ease-out;
}
header > div:nth-of-type(3) > button.open span:nth-child(3) {
  transform: translate(0) rotate(-135deg);
}
header > div:nth-of-type(3) > div {
  font-size: calc(2rem + 1.5vw);
  margin-right: 2.5vw;
  cursor: pointer;
}
@media only screen and (min-width: 576px) {
  header > div:nth-of-type(2) > div nav div ul li a {
    padding: 20px 20%;
  }
  header > div:nth-of-type(2) > div nav div ul li a ::after {
    top: 32%;
  }
}
@media only screen and (min-width: 768px) {
  header > div:nth-of-type(2) > div nav div ul li a {
    padding: 32px 20%;
  }
}
@media only screen and (min-width: 992px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header > div:nth-of-type(1) {
    width: 30%;
  }
  header > div:nth-of-type(1) > a > img {
    margin-right: 60%;
  }
  header > div:nth-of-type(2) {
    width: 50%;
  }
  header > div:nth-of-type(2) > div > nav {
    left: 0;
    width: 100vw;
    min-height: 75px;
    box-shadow: inset 0px -4px 0px #FFB571;
  }
  header > div:nth-of-type(2) > div > nav > div {
    margin: 0 30px;
  }
  header > div:nth-of-type(2) > div > nav > div > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: none;
    top: 0;
    left: 0;
    margin: 0 auto;
    height: 100%;
    max-width: none;
    width: 90%;
    border-left: none;
    transform: none;
  }
  header > div:nth-of-type(2) > div > nav > div > ul > li {
    font-size: 1.6rem;
    width: -moz-fit-content;
    width: fit-content;
  }
  header > div:nth-of-type(2) > div > nav > div > ul > li > a {
    padding: 0;
    margin: 0;
    width: -moz-fit-content;
    width: fit-content;
    display: inline-block;
    position: relative;
  }
  header > div:nth-of-type(2) > div > nav > div > ul > li :hover {
    background: none;
    background-color: #FFB571;
  }
  header > div:nth-of-type(2) > div > nav > div > ul > li ::after {
    content: "";
    display: block;
    position: relative;
    right: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background: #2E2D52;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-out;
  }
  header > div:nth-of-type(2) > div > nav > div > ul > li :hover::after {
    transform: scaleX(1);
  }
  header > div:nth-of-type(3) {
    width: 30%;
    display: block;
  }
  header > div:nth-of-type(3) > div {
    margin: 1rem 0 0 18%;
    font-size: 1.6rem;
  }
  header > div:nth-of-type(3) > div > div {
    font-size: 1.7rem;
    height: 1.8rem;
    margin: 0 0 1.2rem 0.3rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #2E2D52;
  }
  header > div:nth-of-type(3) > div > div:hover {
    color: #FFB571;
    background-color: #2E2D52;
    width: -moz-fit-content;
    width: fit-content;
  }
  header > div:nth-of-type(3) > div > div:hover > p {
    text-decoration: underline;
  }
  header > div:nth-of-type(3) > div > div > p {
    margin-left: 1rem;
  }
  header > div:nth-of-type(3) > div .artist-pro-button {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 0 1.2rem 1rem;
    padding: 0.8rem 2.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: #2E2D52;
    border-radius: 2rem;
  }
  header > div:nth-of-type(3) > div .artist-pro-button:hover {
    background-color: #FFB571;
  }
  header > div:nth-of-type(3) > div .artist-pro-button:hover > a {
    color: #2E2D52;
  }
  header > div:nth-of-type(3) > div .artist-pro-button > a {
    color: #f3f2e9;
  }
}
@media only screen and (min-width: 1100px) {
  header > div:nth-of-type(3) > div {
    margin: 1rem 0 0 25%;
  }
}
@media only screen and (min-width: 1200px) {
  header > div:nth-of-type(3) > div {
    margin: 1rem 0 0 30%;
  }
}
@media only screen and (min-width: 1400px) {
  header > div:nth-of-type(3) > div {
    margin: 1rem 0 0 35%;
  }
}
@media only screen and (min-width: 1600px) {
  header > div:nth-of-type(3) > div {
    margin: 1rem 0 0 40%;
  }
}

footer {
  background-color: #f3f2e9;
  border-top: 5px solid #FFB571;
}
footer p,
footer li,
footer a {
  color: #2E2D52;
}
footer .footer-top,
footer .footer-bottom {
  display: flex;
  justify-content: center;
}
footer .footer-top i,
footer .footer-bottom i {
  font-size: calc(0.7rem + 1.3vw);
  margin-right: 10px;
}
footer .footer-top {
  padding: calc(2rem + 2.5vw) 1rem;
}
footer .footer-top > a > img {
  margin-right: calc(0.6rem + 2vw);
  width: calc(8.5rem + 6.5vw);
}
footer .footer-top p {
  margin: 0;
  text-align: left;
  font-size: calc(0.8rem + 1.3vw);
}
footer .footer-top .footer-tel-container,
footer .footer-top .footer-mail-container {
  display: flex;
}
footer .footer-top .footer-tel-container {
  padding-top: 1rem;
}
footer .footer-separation {
  height: 2px;
  width: 90%;
  margin: 0 auto calc(1rem + 2.5vw) auto;
  background-color: #000F08;
}
footer .footer-bottom {
  text-align: left;
}
footer .footer-bottom .footer-nav,
footer .footer-bottom .footer-rs-legal {
  font-size: calc(0.8rem + 1.5vw);
  margin: 0 calc(0.5rem + 4vw);
}
footer .footer-bottom .footer-nav i,
footer .footer-bottom .footer-rs-legal i {
  color: #2E2D52;
  font-size: calc(2rem + 3vw);
  margin: 0 calc(0.5rem + 5vw) calc(0.5rem + 3vw) 0;
}
footer .footer-bottom i,
footer .footer-bottom li {
  padding: calc(0.2rem + 0.8vw) 0;
}
footer .footer-bottom li > a:hover {
  color: #FFB571;
  text-decoration: underline;
}
footer .footer-copyright {
  font-size: calc(0.8rem + 1.3vw);
  margin-top: calc(3rem + 2.5vw);
  padding-bottom: 3rem;
}
@media only screen and (min-width: 576px) {
  footer .footer-top i,
  footer .footer-bottom i {
    font-size: 1.6rem;
  }
  footer .footer-top {
    margin: auto;
  }
  footer .footer-top > a > img {
    margin-right: 5vw;
    width: 12.5rem;
  }
  footer .footer-top p {
    font-size: 1.6rem;
  }
  footer .footer-separation {
    height: 2px;
    width: 85%;
    margin: 0 auto calc(1rem + 2.5vw) auto;
  }
  footer .footer-bottom {
    text-align: left;
  }
  footer .footer-bottom .footer-nav,
  footer .footer-bottom .footer-rs-legal {
    font-size: 1.7rem;
    margin: 0 10vw;
  }
  footer .footer-bottom .footer-nav i,
  footer .footer-bottom .footer-rs-legal i {
    font-size: 3.7rem;
    margin: 0 2.8rem 2.8rem 0;
  }
  footer .footer-bottom i,
  footer .footer-bottom li {
    padding: calc(0.2rem + 1.5vw) 0;
  }
  footer .footer-copyright {
    font-size: 1.8rem;
    margin-top: 5rem;
  }
}
@media only screen and (min-width: 992px) {
  footer .footer-separation {
    width: 70%;
  }
}
@media only screen and (min-width: 1100px) {
  footer .footer-flex-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
  }
  footer .footer-flex-container .footer-top,
  footer .footer-flex-container .footer-bottom {
    justify-content: space-between;
    margin: 2rem 0;
  }
  footer .footer-flex-container .footer-top {
    width: 30%;
    margin-top: 5rem;
    padding: 0;
  }
  footer .footer-flex-container .footer-top > a > img {
    margin-right: 3rem;
    width: 12.5rem;
  }
  footer .footer-flex-container .footer-top p {
    font-size: 1.6rem;
  }
  footer .footer-flex-container .footer-top .footer-tel-container i,
  footer .footer-flex-container .footer-top .footer-mail-container i {
    padding: 0;
  }
  footer .footer-flex-container .footer-separation {
    display: none;
  }
  footer .footer-flex-container .footer-bottom {
    width: 55%;
  }
  footer .footer-flex-container .footer-bottom .footer-nav,
  footer .footer-flex-container .footer-bottom .footer-rs-legal {
    font-size: 1.6rem;
    margin: 0 4rem;
  }
  footer .footer-flex-container .footer-bottom .footer-nav i,
  footer .footer-flex-container .footer-bottom .footer-rs-legal i {
    font-size: 3.7rem;
    margin: 0 2.8rem 2.8rem 0;
  }
  footer .footer-flex-container .footer-bottom i,
  footer .footer-flex-container .footer-bottom li {
    padding: 0.5rem 0;
  }
}
.event-card-container {
  height: 31.5rem;
  width: 22.5rem;
  border-radius: 1.8em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.event-card-container .event-card {
  display: block;
  margin: 0 auto 1.5rem auto;
  height: 31.5rem;
  width: 22.5rem;
  border-radius: 1.8em;
  background-size: cover;
  background-position: center;
  box-shadow: inset 20em 1em rgba(0, 0, 0, 0.1);
}
.event-card-container .event-card > a .card-block-date {
  position: relative;
  top: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 3rem;
  background-color: #000F08;
  width: 7rem;
  height: 10rem;
}
.event-card-container .event-card > a .card-block-date p:nth-child(2) {
  margin: 0.5rem auto;
  font-size: 3.4rem;
}
.event-card-container .event-card > a .info-event-container h3.mono {
  height: 5rem;
  width: 20rem;
  margin: 11.4rem 0 0.5rem 0;
  padding: 0 0 0 1rem;
  text-align: left;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.8rem;
  text-shadow: -6px 4px 8px rgba(0, 0, 0, 0.7);
}
.event-card-container .event-card > a .info-event-container .rect-event-container {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}
.event-card-container .event-card > a .info-event-container .rect-event-container .rect-event {
  height: 1.6rem;
  width: 6.5rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  padding-top: 0.2rem;
  color: #000F08;
  margin: 1rem 0 2rem 0;
}
.event-card-container .event-card > a .info-event-container .rect-event-container .type {
  background-color: #f3f2e9;
}
.event-card-container .event-card > a .info-event-container .rect-event-container .style {
  background-color: #FFB571;
}
@media only screen and (min-width: 768px) {
  .event-card-container {
    max-height: 31.5rem;
    max-width: 22.5rem;
  }
}
@media only screen and (min-width: 850px) {
  .event-card-container {
    min-height: 40.5rem;
    min-width: 30rem;
    border-radius: 2.2em;
  }
  .event-card-container .event-card {
    min-height: 40.5rem;
    min-width: 30rem;
  }
  .event-card-container .event-card > a .card-block-date {
    font-size: 2.6rem;
    line-height: 4rem;
    width: 9rem;
    height: 12.5rem;
    border-radius: 0.5rem;
    transform: translateX(-1.2rem);
  }
  .event-card-container .event-card > a .card-block-date p:nth-child(2) {
    margin: 0.3rem auto;
    font-size: 4.6rem;
  }
  .event-card-container .event-card > a .info-event-container h3.mono {
    height: 7rem;
    width: 27rem;
    margin: 14.7rem 0 0.5rem 0;
    font-size: 3.2rem;
    line-height: 3.1rem;
  }
  .event-card-container .event-card > a .info-event-container .rect-event-container .rect-event {
    height: 2.3rem;
    width: 8.6rem;
    font-size: 1.4rem;
    border-radius: 0.55rem;
    padding-top: 0.3rem;
  }
}

.glider-contain {
  width: 95%;
  max-width: 1745px;
  padding: 5rem 2rem 0 2rem;
  border: 3px solid rgba(255, 181, 113, 0.3);
  border-radius: 3rem;
  background-color: rgba(255, 255, 255, 0.025);
  box-shadow: 5px 12px 25px rgba(0, 0, 0, 0.25);
  margin: 0 auto 4rem auto;
  position: relative;
}

.glider {
  margin: 0 auto;
  height: 31.5rem;
  width: 24.5rem;
  position: relative;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  transform: translateZ(0);
}

.glider::-webkit-scrollbar {
  display: none;
}

.glider-track {
  transform: translateZ(0);
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  z-index: 1;
}

.glider.draggable {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: grab;
}

.glider.draggable .glider-slide img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.glider.drag {
  cursor: grabbing;
}

.glider-slide {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.glider-slide img {
  max-width: 100%;
}

.glider::-webkit-scrollbar {
  opacity: 0;
  height: 0;
}

.glider-prev,
.glider-next {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  outline: none;
  background: none;
  padding: 0;
  z-index: 2;
  font-size: 3rem;
  text-decoration: none;
  left: 1rem;
  border: 0;
  top: 40%;
  cursor: pointer;
  color: #FFB571;
  opacity: 1;
  line-height: 1;
  transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.glider-prev:hover,
.glider-next:hover,
.glider-prev:focus,
.glider-next:focus {
  color: #FFB571;
}

.glider-next {
  right: 1rem;
  left: auto;
}

.glider-next.disabled,
.glider-prev.disabled {
  opacity: 0.25;
  color: #666;
  cursor: default;
}

.glider-slide {
  min-width: 150px;
}

.glider-hide {
  opacity: 0;
}

.glider-dots {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px auto;
  padding: 0;
}

.glider-dot {
  border: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  outline: none;
  display: block;
  cursor: pointer;
  color: #f3f2e9;
  border-radius: 999px;
  background: #f3f2e9;
  width: calc(0.6rem + 0.5vw);
  height: calc(0.6rem + 0.5vw);
  margin: calc(0.5rem + 1vw) calc(0.5rem + 1vw) calc(0.5rem + 1vw) calc(0.9rem + 1vw);
}

.glider-dot:hover,
.glider-dot:focus,
.glider-dot.active {
  background: #FFB571;
}

@media (max-width: 36em) {
  .glider::-webkit-scrollbar {
    opacity: 1;
    -webkit-appearance: none;
    width: 7px;
    height: 3px;
  }
  .glider::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 99px;
    background-color: rgba(156, 156, 156, 0.25);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
  }
}
@media (min-width: 450px) and (max-width: 575px) {
  .glider-contain {
    width: 85%;
  }
}
@media only screen and (min-width: 576px) {
  .glider-prev {
    left: 2rem;
  }
  .glider-next {
    right: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .glider-contain {
    width: 80%;
  }
  .glider {
    width: 90%;
  }
}
@media (min-width: 910px) {
  .glider-contain {
    width: 90%;
  }
  .glider {
    height: 42rem;
  }
  .glider-track {
    height: 42rem;
  }
}
@media only screen and (min-width: 992px) {
  .glider-prev {
    left: 3rem;
  }
  .glider-next {
    right: 3rem;
  }
}
#homepage .event-card {
  display: block;
  margin: 0 auto 1.5rem auto;
  height: 31.5rem;
  width: 22.5rem;
  border-radius: 1.8em;
  background-size: cover;
  background-position: center;
  box-shadow: inset 20em 1em rgba(0, 0, 0, 0.1);
}
#homepage .event-card a .card-block-date {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 3rem;
  background-color: #000F08;
  width: 7rem;
  height: 10rem;
}
#homepage .event-card a .card-block-date p:nth-child(2) {
  margin: 0.5rem auto;
  font-size: 3.4rem;
}
#homepage .event-card a .info-event-container h3.mono {
  height: 5rem;
  width: 20rem;
  margin: 9rem 0 0.5rem 0;
  padding: 0 0 0 1rem;
  text-align: left;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.8rem;
  text-shadow: -6px 4px 8px rgba(0, 0, 0, 0.7);
}
#homepage .event-card a .info-event-container .rect-event-container {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}
#homepage .event-card a .info-event-container .rect-event-container .rect-event {
  height: 1.6rem;
  width: 6.5rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  padding-top: 0.2rem;
  color: #000F08;
  margin: 1rem 0 2rem 0;
}
#homepage .event-card a .info-event-container .rect-event-container .type {
  background-color: #f3f2e9;
}
#homepage .event-card a .info-event-container .rect-event-container .style {
  background-color: #FFB571;
}
#homepage .home-last-actualities-container {
  width: 90%;
  height: auto;
  margin-bottom: 3rem;
  max-width: 1745px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
#homepage .home-last-actualities-container > .actuality-card {
  height: auto;
  width: 32.5rem;
}
#homepage .home-last-actualities-container > .actuality-card img {
  height: 22.75rem;
  width: 32.5rem;
  border: 5px solid #FFB571;
  border-radius: 32.5px;
  background-size: cover;
  background-position: center;
}
#homepage .home-last-actualities-container > .actuality-card h3 {
  width: 95%;
  text-align: center;
  text-transform: uppercase;
  color: #2E2D52;
  margin: 1rem auto;
  padding: 0 0 0 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
#homepage .home-newsletter p {
  width: 85%;
  margin: 0 auto 1.5rem auto;
}
#homepage .home-newsletter p:first-of-type {
  font-weight: 500;
}
#homepage .home-newsletter form,
#homepage .home-newsletter .home-newsletter-input-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 85%;
  max-width: 450px;
}
#homepage .home-newsletter form {
  margin: 3rem auto;
}
#homepage .home-newsletter form .home-newsletter-input-container {
  width: 100%;
}
#homepage .home-newsletter form #message {
  margin-top: 2rem;
  min-height: 3rem;
  text-align: center;
}
@media only screen and (min-width: 576px) {
  #homepage .home-last-actualities-container .actuality-card {
    width: 50rem;
  }
  #homepage .home-last-actualities-container .actuality-card img {
    height: 35rem;
    width: 50rem;
  }
  #homepage .home-last-actualities-container .actuality-card h3 {
    width: 90%;
    font-size: 1.8rem;
  }
  #homepage .home-newsletter form,
  #homepage .home-newsletter .home-newsletter-input-container {
    width: 80%;
  }
}
@media only screen and (min-width: 768px) {
  #homepage .event-card {
    max-height: 31.5rem;
    max-width: 22.5rem;
  }
  #homepage .home-newsletter p {
    max-width: 900px;
  }
  #homepage .home-newsletter form,
  #homepage .home-newsletter .home-newsletter-input-container {
    width: 80%;
    max-width: 570px;
  }
  #homepage .home-newsletter form {
    margin: 3rem auto;
  }
  #homepage .home-newsletter form .home-newsletter-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
@media only screen and (min-width: 850px) {
  #homepage .home-last-actualities-container .actuality-card {
    width: 32.5rem;
  }
  #homepage .home-last-actualities-container .actuality-card img {
    height: 22.75rem;
    width: 32.5rem;
  }
  #homepage .home-last-actualities-container .actuality-card h3 {
    width: 90%;
  }
}
@media (min-width: 910px) {
  #homepage .event-card {
    max-height: 42rem;
    max-width: 30rem;
    border-radius: 2.2em;
  }
  #homepage .event-card > a .card-block-date {
    font-size: 2.6rem;
    line-height: 4rem;
    width: 9rem;
    height: 12.5rem;
    border-radius: 0.5rem;
    transform: translateX(-1.2rem);
  }
  #homepage .event-card > a .card-block-date p:nth-child(2) {
    margin: 0.3rem auto;
    font-size: 4.6rem;
  }
  #homepage .event-card > a .info-event-container h3.mono {
    height: 7rem;
    width: 27rem;
    margin: 12rem 0 0.5rem 0;
    font-size: 3.2rem;
    line-height: 3.1rem;
  }
  #homepage .event-card > a .info-event-container .rect-event-container .rect-event {
    height: 2.3rem;
    width: 8.6rem;
    font-size: 1.4rem;
    border-radius: 0.55rem;
    padding-top: 0.3rem;
  }
  #homepage .home-last-actualities-container {
    gap: 5rem;
  }
}
@media only screen and (min-width: 992px) {
  #homepage .home-last-actualities-container > .actuality-card {
    width: 37.5rem;
  }
  #homepage .home-last-actualities-container > .actuality-card img {
    height: 26.55rem;
    width: 37.5rem;
  }
}
@media only screen and (min-width: 1100px) {
  #homepage .home-last-actualities-container {
    gap: 7rem;
  }
}
@media only screen and (min-width: 1200px) {
  #homepage .home-last-actualities-container {
    gap: 3rem;
  }
  #homepage .home-last-actualities-container > .actuality-card {
    width: 50rem;
  }
  #homepage .home-last-actualities-container > .actuality-card img {
    height: 35rem;
    width: 50rem;
  }
  #homepage .home-last-actualities-container > .actuality-card h3 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1400px) {
  #homepage .home-last-actualities-container {
    gap: 7rem;
  }
}
@media only screen and (min-width: 1600px) {
  #homepage .home-last-actualities-container {
    gap: 10rem;
  }
}

#programmation fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#programmation fieldset form,
#programmation fieldset select {
  width: 85%;
  margin: 0 0 3rem 0;
}
#programmation fieldset .search-bar {
  display: flex;
  align-items: center;
}
#programmation fieldset .search-bar input[type=search] {
  border-radius: 14px 0 0 14px;
  margin: 0;
}
#programmation fieldset .search-bar button {
  margin: 0;
  padding: 12px;
  background-color: #FFB571;
  border: none;
  color: #f3f2e9;
  border-radius: 0 14px 14px 0;
  cursor: pointer;
}
#programmation fieldset .search-bar button i {
  font-size: 2rem;
}
#programmation fieldset .search-bar button:hover {
  color: #2E2D52;
}
#programmation .programmation-events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1400px;
  margin: 2rem auto;
  padding: 2rem;
}
#programmation .programmation-events-container .event-card-container {
  margin: 1.5rem;
  transition: transform 0.2s ease-in-out;
}
#programmation .programmation-events-container .event-card-container:hover {
  transform: scale(1.05);
}
#programmation .programmation-events-container .event-card {
  border: 2px solid #f3f2e9;
}
#programmation .programmation-events-container .search-error {
  font-size: 2rem;
  font-weight: bold;
}
@media only screen and (min-width: 576px) {
  #programmation fieldset form,
  #programmation fieldset select {
    width: 80%;
  }
  #programmation fieldset .search-bar button i {
    font-size: 2.2rem;
  }
}
@media only screen and (min-width: 768px) {
  #programmation fieldset .search-bar button i {
    font-size: 2.3rem;
  }
}
@media only screen and (min-width: 850px) {
  #programmation fieldset {
    justify-content: center;
    gap: 10%;
  }
  #programmation fieldset form,
  #programmation fieldset select {
    width: 30%;
    max-width: 500px;
  }
  #programmation .programmation-events-container .event-card-container {
    margin: 2rem;
  }
}

#event .event-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#event .event-container .event-info-container {
  max-width: 80%;
  margin: 2rem;
  text-align: left;
}
#event .event-container .event-info-container h3 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
#event .event-container .event-info-container .event-integral-date {
  display: flex;
  flex-wrap: wrap;
}
#event .event-container .event-info-container .event-integral-date .integral-day,
#event .event-container .event-info-container .event-integral-date time {
  color: #FFB571;
  font-size: 1.8rem;
  font-weight: 500;
}
#event .event-container .event-info-container .info-event-separation {
  margin: 2rem 0;
  width: 60px;
  height: 8px;
  background-color: #FFB571;
}
#event .event-container .event-info-container > p {
  margin: 1rem 0;
  line-height: 1.3;
  text-align: justify;
}
#event .event-container .event-info-container .price-reservation-container {
  margin: 3rem auto;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
}
#event .event-container .event-info-container .price-reservation-container .price {
  padding: 1rem 2.5rem;
  font-size: 1.8rem;
  font-weight: 500;
}
#event .event-container .event-info-container .price-reservation-container .reservation-button {
  display: block;
  font-family: "Roboto", sans-serif Arial;
  font-size: 1.6rem;
  font-weight: bolder;
  text-transform: uppercase;
  margin: auto;
  margin-top: 2rem;
  border-radius: 15px;
  padding: 1rem 2.5rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  background-color: #FFB571;
  color: #f3f2e9;
  border: 3px solid #f3f2e9;
  margin: 0;
}
#event .event-container .event-info-container .price-reservation-container .reservation-button:hover {
  background-color: #f3f2e9;
  color: #FF922C;
  border: 3px solid #FFB571;
}
@media only screen and (min-width: 576px) {
  #event .event-container .event-info-container .price-reservation-container .reservation-button {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 768px) {
  #event .event-container .event-info-container .price-reservation-container .reservation-button {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 992px) {
  #event .event-container .event-info-container .price-reservation-container .reservation-button {
    font-size: 2.2rem;
  }
}
#event .iframe-container {
  margin: 2rem auto;
  position: relative;
  width: 80%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
#event .iframe-container .responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
@media only screen and (min-width: 576px) {
  #event .iframe-container {
    margin: 3rem auto;
  }
}
@media only screen and (min-width: 768px) {
  #event .event-container {
    gap: 5%;
  }
  #event .event-container .event-info-container {
    width: 30%;
  }
  #event .iframe-container {
    margin: 4rem auto;
  }
}
@media only screen and (min-width: 850px) {
  #event .event-container .event-info-container {
    max-width: 900px;
  }
  #event .event-container .event-info-container h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }
  #event .event-container .event-info-container .event-integral-date .integral-day,
  #event .event-container .event-info-container .event-integral-date time {
    font-size: 2rem;
  }
  #event .event-container .event-info-container .price-reservation-container .price {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1100px) {
  #event .event-container .event-info-container > p {
    font-size: 1.7rem;
    line-height: 1.4;
  }
}
@media only screen and (min-width: 1200px) {
  #event .iframe-container {
    margin: 2rem auto;
    position: relative;
    width: 1000px;
    height: 562.5px;
    overflow: hidden;
  }
  #event .iframe-container .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 562.5px;
    border: none;
  }
}
#actualites .actualities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2%;
  max-width: 1400px;
  margin: 2rem auto;
  padding: 2rem;
}
#actualites .actualities-container .actuality-card {
  height: auto;
  width: 32.5rem;
  margin-bottom: 2rem;
}
#actualites .actualities-container .actuality-card img {
  height: 22.75rem;
  width: 32.5rem;
  border: 5px solid #FFB571;
  border-radius: 32.5px;
  background-size: cover;
  background-position: center;
}
#actualites .actualities-container .actuality-card h3 {
  width: 95%;
  text-align: center;
  text-transform: uppercase;
  color: #f3f2e9;
  margin: 1rem auto;
  padding: 0 0 0 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
@media only screen and (min-width: 576px) {
  #actualites .actualities-container .actuality-card {
    width: 40rem;
  }
  #actualites .actualities-container .actuality-card img {
    height: 28rem;
    width: 40rem;
  }
  #actualites .actualities-container .actuality-card h3 {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 850px) {
  #actualites .-actualities-container .actuality-card {
    width: 32.5rem;
  }
  #actualites .-actualities-container .actuality-card img {
    height: 22.75rem;
    width: 32.5rem;
  }
}
#actualite .actu-container {
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#actualite .actu-container img {
  margin: 2rem 0 0 0;
  height: 63%;
  width: 90%;
  border: 5px solid #FFB571;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}
#actualite .actu-container .actu-info-container {
  max-width: 90%;
  margin: 2rem;
  text-align: left;
}
#actualite .actu-container .actu-info-container h3 {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 2rem 0;
}
#actualite .actu-container .actu-info-container p {
  margin: 1rem 0;
  line-height: 1.3;
  text-align: justify;
}
#actualite .actu-container .actu-info-container .integral-day {
  color: #FFB571;
  font-size: 1.5rem;
  font-weight: 300;
}
@media only screen and (min-width: 576px) {
  #actualite .actu-container img {
    height: 56%;
    width: 80%;
  }
  #actualite .actu-container .actu-info-container {
    max-width: 80%;
  }
}
@media only screen and (min-width: 768px) {
  #actualite .actu-container img {
    height: 52.5%;
    width: 75%;
  }
  #actualite .actu-container .actu-info-container {
    max-width: 75%;
  }
}
@media only screen and (min-width: 850px) {
  #actualite .actu-container img {
    height: 49%;
    width: 70%;
  }
  #actualite .actu-container .actu-info-container {
    max-width: 70%;
  }
}
@media only screen and (min-width: 1200px) {
  #actualite .actu-container {
    gap: 2%;
  }
  #actualite .actu-container img {
    margin: 4rem 0;
    height: 35%;
    width: 45%;
    border: 5px solid #FFB571;
    border-radius: 20px;
  }
  #actualite .actu-container .actu-info-container {
    width: 45%;
  }
  #actualite .actu-container .actu-info-container h3 {
    font-size: 2rem;
  }
  #actualite .actu-container .actu-info-container p {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  #actualite .actu-container .actu-info-container .integral-day {
    color: #FFB571;
    font-size: 1.6rem;
    font-weight: 300;
  }
}
/********** GLOBAL STYLES **********/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: opacity 0.1s ease-in;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  background-color: #2E2D52;
  text-align: center;
}
body #loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2E2D52;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
body #loader .loader {
  border: 8px solid #f3f2e9;
  border-radius: 50%;
  border-top: 8px solid #FFB571;
  width: 40px;
  height: 40px;
  animation: spin 0.6s linear infinite;
}
body #loader p {
  color: #f3f2e9;
  font-size: 2rem;
  margin-left: 2rem;
  text-transform: uppercase;
}
body.loaded {
  visibility: visible;
  opacity: 1;
}
body.loaded #loader {
  display: none;
}

h1 {
  margin: 1rem;
  font-size: calc(1.2rem + 1.6vw);
  font-weight: 600;
  text-transform: uppercase;
  color: #D13B2C;
}

h2 {
  margin: 2rem auto;
  font-size: calc(1.6rem + 1vw);
  font-weight: 600;
  text-transform: uppercase;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000F08;
  text-decoration: none;
}

input:not([type=submit]),
textarea,
select {
  width: 100%;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border: 4px solid #FFB571;
  border-radius: 14px;
  background-color: #f3f2e9;
  font-weight: 500;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-top: 0.8rem;
}

input[name=orange] {
  display: block;
  font-family: "Roboto", sans-serif Arial;
  font-size: 1.6rem;
  font-weight: bolder;
  text-transform: uppercase;
  margin: auto;
  margin-top: 2rem;
  border-radius: 15px;
  padding: 1rem 2.5rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  background-color: #FFB571;
  color: #f3f2e9;
  border: 3px solid #f3f2e9;
  margin-top: 3rem;
}
input[name=orange]:hover {
  background-color: #f3f2e9;
  color: #FF922C;
  border: 3px solid #FFB571;
}
@media only screen and (min-width: 576px) {
  input[name=orange] {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 768px) {
  input[name=orange] {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 992px) {
  input[name=orange] {
    font-size: 2.2rem;
  }
}

input:not([type=submit]):focus,
select:focus,
textarea:focus {
  outline: none;
  width: 100%;
  display: inline-block;
  border: 4px solid #FF922C;
  box-sizing: border-box;
}

select {
  cursor: pointer;
}
select option {
  width: 100%;
}

textarea {
  min-height: 250px;
  resize: vertical;
}

main {
  margin-top: 90px;
  flex-grow: 1;
}
main section {
  width: 100%;
  padding: 2rem;
}
main section:not(:last-of-type) {
  border-bottom: 5px solid #FFB571;
}
main section:nth-child(even) {
  background-color: #f3f2e9;
  color: #2E2D52;
}
main section:nth-child(odd) {
  background-color: #2E2D52;
  color: #f3f2e9;
}

.mono {
  font-style: "Roboto Mono", monospace;
  color: white;
  text-transform: uppercase;
}

.desktop {
  display: none;
}

.dyslexia {
  font-family: "OpenDyslexic";
  font-size: 1.4rem;
}

.line-spacing {
  line-height: 1.8;
}

/********** GLOBAL RESPONSIVE **********/
@media only screen and (min-width: 576px) {
  body {
    font-size: 1.5rem;
  }
  h2 {
    margin: 2.5rem auto;
  }
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
  h2 {
    margin: 3rem auto;
  }
}
@media only screen and (min-width: 850px) {
  h2 {
    margin: 3.5rem auto;
  }
}
@media only screen and (min-width: 992px) {
  main {
    margin-top: 165px;
  }
  h2 {
    margin: 4rem auto;
  }
  .burger,
  #menu-toggle {
    display: none;
  }
  .desktop {
    display: block;
  }
}